.predict-model {
    .predict-model-button {
        background-color:#ffead6;
        color: #720026;
        padding: 5px 5px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        max-width: 8rem;
        text-align: center;
    }
}

.predict-results {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    max-width: 28rem;
    position: relative;
}